<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>invi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {108, 150}}</string>
			<key>spriteOffset</key>
			<string>{-13, 14}</string>
			<key>spriteSize</key>
			<string>{108, 150}</string>
			<key>spriteSourceSize</key>
			<string>{146, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{289, 0}, {108, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninj.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {172, 101}}</string>
			<key>spriteOffset</key>
			<string>{-14, 12}</string>
			<key>spriteSize</key>
			<string>{172, 101}</string>
			<key>spriteSourceSize</key>
			<string>{218, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 154}, {172, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {110, 152}}</string>
			<key>spriteOffset</key>
			<string>{-5, 6}</string>
			<key>spriteSize</key>
			<string>{110, 152}</string>
			<key>spriteSourceSize</key>
			<string>{126, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{177, 0}, {110, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sw.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {132, 130}}</string>
			<key>spriteOffset</key>
			<string>{-5, 6}</string>
			<key>spriteSize</key>
			<string>{132, 130}</string>
			<key>spriteSourceSize</key>
			<string>{146, 146}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 210}, {132, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trading_pass.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {175, 103}}</string>
			<key>spriteOffset</key>
			<string>{-13, 14}</string>
			<key>spriteSize</key>
			<string>{175, 103}</string>
			<key>spriteSourceSize</key>
			<string>{201, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {175, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>vip_pass.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {172, 103}}</string>
			<key>spriteOffset</key>
			<string>{-12, 14}</string>
			<key>spriteSize</key>
			<string>{172, 103}</string>
			<key>spriteSourceSize</key>
			<string>{208, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 105}, {172, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>powerups_shadows</string>
		<key>textureFileName</key>
		<string>powerups_shadows.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>