<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>small_skin_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {173, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{173, 173}</string>
			<key>spriteSourceSize</key>
			<string>{173, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 350}, {173, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>small_skin_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {173, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{173, 173}</string>
			<key>spriteSourceSize</key>
			<string>{173, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{175, 350}, {173, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>small_skin_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {173, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{173, 173}</string>
			<key>spriteSourceSize</key>
			<string>{173, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 525}, {173, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>small_skin_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {173, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{173, 173}</string>
			<key>spriteSourceSize</key>
			<string>{173, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 350}, {173, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>small_skin_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {173, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{173, 173}</string>
			<key>spriteSourceSize</key>
			<string>{173, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{175, 0}, {173, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>small_skin_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {173, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{173, 173}</string>
			<key>spriteSourceSize</key>
			<string>{173, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{175, 525}, {173, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>small_skin_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {173, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{173, 173}</string>
			<key>spriteSourceSize</key>
			<string>{173, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 175}, {173, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>small_skin_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {173, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{173, 173}</string>
			<key>spriteSourceSize</key>
			<string>{173, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 175}, {173, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>small_skin_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {173, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{173, 173}</string>
			<key>spriteSourceSize</key>
			<string>{173, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{175, 175}, {173, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>small_skin_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {173, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{173, 173}</string>
			<key>spriteSourceSize</key>
			<string>{173, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 0}, {173, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>small_skin_58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {173, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{173, 173}</string>
			<key>spriteSourceSize</key>
			<string>{173, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {173, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>skins</string>
		<key>textureFileName</key>
		<string>skins.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>