<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>10_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {296, 309}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{296, 309}</string>
			<key>spriteSourceSize</key>
			<string>{296, 309}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 678}, {296, 309}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>11_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 198}</string>
			<key>spriteSourceSize</key>
			<string>{309, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{933, 472}, {309, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>12_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 160}</string>
			<key>spriteSourceSize</key>
			<string>{309, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{933, 1359}, {309, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>13_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 184}</string>
			<key>spriteSourceSize</key>
			<string>{309, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1555, 686}, {309, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>14_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 164}</string>
			<key>spriteSourceSize</key>
			<string>{309, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1153, 1193}, {309, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>15_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 84}</string>
			<key>spriteSourceSize</key>
			<string>{309, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 1150}, {309, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>16_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 169}</string>
			<key>spriteSourceSize</key>
			<string>{309, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1464, 1048}, {309, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>17_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 220}</string>
			<key>spriteSourceSize</key>
			<string>{309, 220}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1555, 271}, {309, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>18_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 174}</string>
			<key>spriteSourceSize</key>
			<string>{309, 174}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1542, 872}, {309, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>19_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 176}</string>
			<key>spriteSourceSize</key>
			<string>{309, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1231, 841}, {309, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>1_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 309}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 309}</string>
			<key>spriteSourceSize</key>
			<string>{309, 309}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 367}, {309, 309}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>20_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 234}</string>
			<key>spriteSourceSize</key>
			<string>{309, 234}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{311, 1558}, {309, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>21_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 233}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 233}</string>
			<key>spriteSourceSize</key>
			<string>{309, 233}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{311, 1794}, {309, 233}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>22_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 203}</string>
			<key>spriteSourceSize</key>
			<string>{309, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1244, 445}, {309, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>23_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 91}</string>
			<key>spriteSourceSize</key>
			<string>{309, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{933, 1837}, {309, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>24_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 157}</string>
			<key>spriteSourceSize</key>
			<string>{309, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 1783}, {309, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>25_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 157}</string>
			<key>spriteSourceSize</key>
			<string>{309, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{933, 1521}, {309, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>26_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 157}</string>
			<key>spriteSourceSize</key>
			<string>{309, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 1624}, {309, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>27_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 191}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 191}</string>
			<key>spriteSourceSize</key>
			<string>{309, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1555, 493}, {309, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>28_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 151}</string>
			<key>spriteSourceSize</key>
			<string>{309, 151}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1244, 1382}, {309, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>29_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 55}</string>
			<key>spriteSourceSize</key>
			<string>{309, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{311, 620}, {309, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>2_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 222}</string>
			<key>spriteSourceSize</key>
			<string>{309, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 926}, {309, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>30_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {302, 155}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{302, 155}</string>
			<key>spriteSourceSize</key>
			<string>{302, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{933, 1680}, {302, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>31_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {302, 155}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{302, 155}</string>
			<key>spriteSourceSize</key>
			<string>{302, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1237, 1680}, {302, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>32_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {302, 155}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{302, 155}</string>
			<key>spriteSourceSize</key>
			<string>{302, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1244, 1837}, {302, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>33_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 247}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 247}</string>
			<key>spriteSourceSize</key>
			<string>{309, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{531, 988}, {309, 247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>34_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 247}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 247}</string>
			<key>spriteSourceSize</key>
			<string>{309, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 283}, {309, 247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>35_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 247}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 247}</string>
			<key>spriteSourceSize</key>
			<string>{309, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{829, 0}, {309, 247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>36_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 247}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 247}</string>
			<key>spriteSourceSize</key>
			<string>{309, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{609, 677}, {309, 247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>37_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 309}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 309}</string>
			<key>spriteSourceSize</key>
			<string>{218, 309}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 989}, {218, 309}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>38_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 9}, {211, 281}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{211, 281}</string>
			<key>spriteSourceSize</key>
			<string>{253, 309}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 0}, {211, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>39_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 102}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1762, 167}, {102, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>3_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 222}</string>
			<key>spriteSourceSize</key>
			<string>{309, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{920, 674}, {309, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>40_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 221}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 221}</string>
			<key>spriteSourceSize</key>
			<string>{309, 221}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1451, 0}, {309, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>41_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 220}</string>
			<key>spriteSourceSize</key>
			<string>{309, 220}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1244, 223}, {309, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>42_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 221}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 221}</string>
			<key>spriteSourceSize</key>
			<string>{309, 221}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 0}, {309, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>43_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 221}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 221}</string>
			<key>spriteSourceSize</key>
			<string>{309, 221}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{933, 249}, {309, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>44_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 131}</string>
			<key>spriteSourceSize</key>
			<string>{309, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1244, 1535}, {309, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>45_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 269}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 269}</string>
			<key>spriteSourceSize</key>
			<string>{309, 269}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1610}, {309, 269}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>46_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 189}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 189}</string>
			<key>spriteSourceSize</key>
			<string>{309, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1244, 650}, {309, 189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>47_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 308}</string>
			<key>spriteSourceSize</key>
			<string>{309, 308}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 678}, {309, 308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>48_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 161}</string>
			<key>spriteSourceSize</key>
			<string>{309, 161}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1464, 1219}, {309, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>49_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 172}</string>
			<key>spriteSourceSize</key>
			<string>{309, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1153, 1019}, {309, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>4_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 140}</string>
			<key>spriteSourceSize</key>
			<string>{309, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 532}, {309, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>50_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 167}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 167}</string>
			<key>spriteSourceSize</key>
			<string>{309, 167}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1881}, {309, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>51_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 224}</string>
			<key>spriteSourceSize</key>
			<string>{309, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 1237}, {309, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>52_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 307}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 307}</string>
			<key>spriteSourceSize</key>
			<string>{309, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{311, 311}, {309, 307}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>53_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 308}</string>
			<key>spriteSourceSize</key>
			<string>{309, 308}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1300}, {309, 308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>54_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {307, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{307, 148}</string>
			<key>spriteSourceSize</key>
			<string>{309, 162}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1541, 1668}, {307, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>55_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {293, 102}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{293, 102}</string>
			<key>spriteSourceSize</key>
			<string>{309, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 1942}, {293, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>56_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {303, 365}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{303, 365}</string>
			<key>spriteSourceSize</key>
			<string>{309, 377}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {303, 365}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>57_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 309}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 309}</string>
			<key>spriteSourceSize</key>
			<string>{309, 309}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 0}, {309, 309}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>58_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {270, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{270, 165}</string>
			<key>spriteSourceSize</key>
			<string>{270, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1762, 0}, {270, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>5_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 119}</string>
			<key>spriteSourceSize</key>
			<string>{309, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1548, 1818}, {309, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>6_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 308}</string>
			<key>spriteSourceSize</key>
			<string>{309, 308}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{220, 989}, {309, 308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>7_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 94}</string>
			<key>spriteSourceSize</key>
			<string>{309, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{917, 1942}, {309, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>8_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 159}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 159}</string>
			<key>spriteSourceSize</key>
			<string>{309, 159}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 1463}, {309, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>9_in.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {309, 257}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{309, 257}</string>
			<key>spriteSourceSize</key>
			<string>{309, 257}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{311, 1299}, {309, 257}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Customization</string>
		<key>textureFileName</key>
		<string>Customization.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>