<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>2nd-chance_button.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {427, 97}}</string>
			<key>spriteOffset</key>
			<string>{-5, 6}</string>
			<key>spriteSize</key>
			<string>{427, 97}</string>
			<key>spriteSourceSize</key>
			<string>{439, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1618, 272}, {427, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>back_btn0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {506, 122}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{506, 122}</string>
			<key>spriteSourceSize</key>
			<string>{512, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{699, 272}, {506, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>challenge_btn_nc0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {409, 99}}</string>
			<key>spriteOffset</key>
			<string>{-4, 4}</string>
			<key>spriteSize</key>
			<string>{409, 99}</string>
			<key>spriteSourceSize</key>
			<string>{417, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1207, 272}, {409, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {72, 68}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{72, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1808, 0}, {72, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {66, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{66, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1950, 70}, {66, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {58, 68}}</string>
			<key>spriteOffset</key>
			<string>{-5, -1}</string>
			<key>spriteSize</key>
			<string>{58, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1868, 140}, {58, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {52, 68}}</string>
			<key>spriteOffset</key>
			<string>{-5, -1}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1986, 140}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {44, 68}}</string>
			<key>spriteOffset</key>
			<string>{-7, -1}</string>
			<key>spriteSize</key>
			<string>{44, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 349}, {44, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {38, 68}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{38, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{589, 349}, {38, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {30, 68}}</string>
			<key>spriteOffset</key>
			<string>{-9, -1}</string>
			<key>spriteSize</key>
			<string>{30, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2018, 70}, {30, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 2}, {22, 68}}</string>
			<key>spriteOffset</key>
			<string>{-11, -1}</string>
			<key>spriteSize</key>
			<string>{22, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1670, 371}, {22, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {24, 68}}</string>
			<key>spriteOffset</key>
			<string>{-12, -1}</string>
			<key>spriteSize</key>
			<string>{24, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1618, 371}, {24, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {28, 68}}</string>
			<key>spriteOffset</key>
			<string>{-11, -1}</string>
			<key>spriteSize</key>
			<string>{28, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{669, 349}, {28, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {34, 68}}</string>
			<key>spriteOffset</key>
			<string>{-11, -1}</string>
			<key>spriteSize</key>
			<string>{34, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1958, 0}, {34, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {36, 68}}</string>
			<key>spriteOffset</key>
			<string>{-12, -1}</string>
			<key>spriteSize</key>
			<string>{36, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1882, 0}, {36, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {42, 68}}</string>
			<key>spriteOffset</key>
			<string>{-11, -1}</string>
			<key>spriteSize</key>
			<string>{42, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{503, 349}, {42, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {46, 68}}</string>
			<key>spriteOffset</key>
			<string>{-12, -1}</string>
			<key>spriteSize</key>
			<string>{46, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 279}, {46, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {52, 68}}</string>
			<key>spriteOffset</key>
			<string>{-11, -1}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 279}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {56, 68}}</string>
			<key>spriteOffset</key>
			<string>{-10, -1}</string>
			<key>spriteSize</key>
			<string>{56, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1928, 140}, {56, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {50, 68}}</string>
			<key>spriteOffset</key>
			<string>{-11, -1}</string>
			<key>spriteSize</key>
			<string>{50, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{465, 279}, {50, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {46, 68}}</string>
			<key>spriteOffset</key>
			<string>{-11, -1}</string>
			<key>spriteSize</key>
			<string>{46, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{569, 279}, {46, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {40, 68}}</string>
			<key>spriteOffset</key>
			<string>{-11, -1}</string>
			<key>spriteSize</key>
			<string>{40, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{547, 349}, {40, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {36, 68}}</string>
			<key>spriteOffset</key>
			<string>{-11, -1}</string>
			<key>spriteSize</key>
			<string>{36, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1920, 0}, {36, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {32, 68}}</string>
			<key>spriteOffset</key>
			<string>{-11, -1}</string>
			<key>spriteSize</key>
			<string>{32, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1994, 0}, {32, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {24, 68}}</string>
			<key>spriteOffset</key>
			<string>{-12, -1}</string>
			<key>spriteSize</key>
			<string>{24, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1644, 371}, {24, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 2}, {22, 68}}</string>
			<key>spriteOffset</key>
			<string>{-11, -1}</string>
			<key>spriteSize</key>
			<string>{22, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1694, 371}, {22, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {30, 68}}</string>
			<key>spriteOffset</key>
			<string>{-9, -1}</string>
			<key>spriteSize</key>
			<string>{30, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{665, 279}, {30, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {38, 68}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{38, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{629, 349}, {38, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {44, 68}}</string>
			<key>spriteOffset</key>
			<string>{-7, -1}</string>
			<key>spriteSize</key>
			<string>{44, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{457, 349}, {44, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {50, 68}}</string>
			<key>spriteOffset</key>
			<string>{-6, -1}</string>
			<key>spriteSize</key>
			<string>{50, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{517, 279}, {50, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {58, 68}}</string>
			<key>spriteOffset</key>
			<string>{-5, -1}</string>
			<key>spriteSize</key>
			<string>{58, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1808, 140}, {58, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {66, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{66, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1882, 70}, {66, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_gr0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {72, 68}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{72, 68}</string>
			<key>spriteSourceSize</key>
			<string>{76, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1808, 70}, {72, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>failed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {1107, 270}}</string>
			<key>spriteOffset</key>
			<string>{-2, 9}</string>
			<key>spriteSize</key>
			<string>{1107, 270}</string>
			<key>spriteSourceSize</key>
			<string>{1125, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{699, 0}, {1107, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>post_btn0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {409, 99}}</string>
			<key>spriteOffset</key>
			<string>{-4, 4}</string>
			<key>spriteSize</key>
			<string>{409, 99}</string>
			<key>spriteSourceSize</key>
			<string>{417, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 380}, {409, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>retry_btn_nc0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {409, 99}}</string>
			<key>spriteOffset</key>
			<string>{-4, 4}</string>
			<key>spriteSize</key>
			<string>{409, 99}</string>
			<key>spriteSourceSize</key>
			<string>{417, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 279}, {409, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>you.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 7}, {697, 277}}</string>
			<key>spriteOffset</key>
			<string>{-79, 8}</string>
			<key>spriteSize</key>
			<string>{697, 277}</string>
			<key>spriteSourceSize</key>
			<string>{887, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {697, 277}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 512}</string>
		<key>name</key>
		<string>FailedEnd</string>
		<key>textureFileName</key>
		<string>FailedEnd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>