<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>pizza</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>pizza_0.png</string>
				<string>pizza_1.png</string>
				<string>pizza_2.png</string>
				<string>pizza_3.png</string>
				<string>pizza_4.png</string>
				<string>pizza_5.png</string>
				<string>pizza_6.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
