<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>c_btn0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {372, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{372, 80}</string>
			<key>spriteSourceSize</key>
			<string>{372, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 1663}, {372, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coins_n_shop_btn0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {358, 126}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{358, 126}</string>
			<key>spriteSourceSize</key>
			<string>{362, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{391, 1371}, {358, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>community_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {520, 197}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{520, 197}</string>
			<key>spriteSourceSize</key>
			<string>{520, 197}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{633, 433}, {520, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>community_btn_android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {520, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{520, 195}</string>
			<key>spriteSourceSize</key>
			<string>{520, 197}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 602}, {520, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>developed_by.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {512, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{512, 218}</string>
			<key>spriteSourceSize</key>
			<string>{512, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1257, 583}, {512, 218}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>items_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {496, 207}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{496, 207}</string>
			<key>spriteSourceSize</key>
			<string>{496, 207}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 632}, {496, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {204, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{204, 102}</string>
			<key>spriteSourceSize</key>
			<string>{204, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1771, 650}, {204, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mobile.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {333, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{333, 72}</string>
			<key>spriteSourceSize</key>
			<string>{333, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 1499}, {333, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>multiplayer_inner.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {631, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{631, 180}</string>
			<key>spriteSourceSize</key>
			<string>{631, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 420}, {631, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>music_switch0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 13}, {76, 82}}</string>
			<key>spriteOffset</key>
			<string>{-4, -4}</string>
			<key>spriteSize</key>
			<string>{76, 82}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 776}, {76, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>music_switch0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 13}, {78, 82}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{78, 82}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1155, 587}, {78, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>notif_disp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {41, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 9}</string>
			<key>spriteSize</key>
			<string>{41, 41}</string>
			<key>spriteSourceSize</key>
			<string>{45, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1987, 0}, {41, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>otherstuff_btn0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {210, 65}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{210, 65}</string>
			<key>spriteSourceSize</key>
			<string>{218, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1771, 583}, {210, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>paid_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {666, 167}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{666, 167}</string>
			<key>spriteSourceSize</key>
			<string>{666, 167}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 251}, {666, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>picbox.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {677, 581}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{677, 581}</string>
			<key>spriteSourceSize</key>
			<string>{677, 581}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1308, 0}, {677, 581}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_chocolate_side_LOL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {449, 570}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{449, 570}</string>
			<key>spriteSourceSize</key>
			<string>{451, 570}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 799}, {449, 570}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>premium_shop_btn0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {389, 150}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{389, 150}</string>
			<key>spriteSourceSize</key>
			<string>{403, 162}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1371}, {389, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>singleplayer_inner.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {631, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{631, 180}</string>
			<key>spriteSourceSize</key>
			<string>{631, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{668, 251}, {631, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sound.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 12}, {78, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 78}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 696}, {78, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sound_disabled.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {92, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 92}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 602}, {92, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stick_run_logo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {1306, 249}}</string>
			<key>spriteOffset</key>
			<string>{-117, -3}</string>
			<key>spriteSize</key>
			<string>{1306, 249}</string>
			<key>spriteSourceSize</key>
			<string>{1556, 255}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1306, 249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>superslots_btn0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {403, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{403, 138}</string>
			<key>spriteSourceSize</key>
			<string>{403, 146}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1523}, {403, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>top10_btn0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {283, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{283, 89}</string>
			<key>spriteSourceSize</key>
			<string>{287, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1756}, {283, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>top10boxjump_btn0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {282, 91}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{282, 91}</string>
			<key>spriteSourceSize</key>
			<string>{288, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1663}, {282, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>vibrate_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 75}</string>
			<key>spriteSourceSize</key>
			<string>{100, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1155, 433}, {100, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>vibrate_disabled_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 75}</string>
			<key>spriteSourceSize</key>
			<string>{100, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1155, 510}, {100, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>StartInterface</string>
		<key>textureFileName</key>
		<string>StartInterface.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>